body{
    background-color:firebrick;
    font-family: Arial, Helvetica, sans-serif;
}
.para{
    font-style:oblique;
    font-size: large;
}

.head{
    color: rgb(116, 245, 10);
    font-size: xx-large;
}
.h1{
    font-size: xx-large;
}
.h2{
    font-size: xx-large;
}
.h3{
    font-size: xx-large;
}
.h4{
    font-size: xx-large;
}
.h5{
    font-size: xx-large;
}
.h6{
    font-size: xx-large;
}
.h7{
    font-size: xx-large;
}
